*{
    text-decoration: none;
    list-style: none;
}
body{
    /* background: rgb(169, 235, 232); */
    padding: 0;
    margin: auto;
    
    background: rgb(210, 207, 207);
    width: 100%;
    background-image: url(/images/img2.jpg);
    background-size: auto;
    background-attachment: fixed;
    /* margin-top: 5px; */
    margin-bottom: 0px;
}   

.container{

    /* width: 100%; */
    
    
}
h1{
    font-weight: bold;
}

.c1{
    margin-right: 20%;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 6%;
    font-family:verdana;
    /* font-weight: bold; */
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    background-color: rgb(12, 32, 22);
    position: sticky ;
    top: 0px;
    
    
    
    
}

.logo{
    width: 50px;
    cursor: pointer;
    transform: translate(10px);
    border-radius: 10px;
    
}

nav{
    
    flex: 1;
    text-align: right;
    gap: 5rem;
    
    
}
ul li{
    display: inline;
    padding: 30px;
    
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}

ul{
    margin-top: 10px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 10px;
    margin-right: 0px;
    
    
}

.column{
    flex-basis: 20%;
    transform: translateX(10px);
    margin-top: 5px;
    
    
}



.column{
    margin-top: 40%;
   
}

.column h1{
    font-size: 70px;
}

.column p{
    font-size: 18px;
    line-height: 20px;
}

.section{
    margin-top: 25%;
    
}
#sec1:hover{
    background-color: #fff;
    opacity: 0.8;
}
#sec2:hover{
    background-color: #fff;
    opacity: 0.8;
}
#sec3:hover{
    background-color: #fff;
    opacity: 0.8;
}

#sec1{
    padding-top: 70px;
    padding-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: antiquewhite; */
    /* opacity: 0.9; */
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    
}
#sec2{
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
}
#sec3{
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    
}


/*Book Now*/
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 15px 0 ;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
     margin-top: 30px;
     cursor: pointer;
     margin-bottom: 100px;
     margin-left: 10px;
     
    
}

/*logo txt*/
.sp1{
    transform: translateX(20px);
    color: #fff;
    
}

.bg_img{
    background-image: url(img2.jpg);
    color: black;
    background-size: auto;
    background-attachment: fixed;
 
}


/*Cards

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(img3.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}
*/

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 90px;
    margin-top: 30px;
    opacity: 0.7;
    
}

html {
    background-color: bisque;
}